<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"> 
        <title> {% block title %} | Duilio Restuccia {% endblock %}  </title>
        
        <!-- <link rel="icon" type="favicon/x-icon" href="{{ url_for('static', filename='css/kosmika.png') }}"> -->

        <!-- Enlaces Remotos para Bootstrap y CSS 
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Enlaces locales para Bootstrap y CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    </head>

    <body class="fondo" style="background-color:#232323;">
        <div class="container"> 
                {% block content %}
                    
                {% endblock %}
        </div>
    </body>

</html>