{% extends 'layout.html' %}

{% block title %}
    Reunión

    {{super() }}
{% endblock %}

{% block content %}
        <script>
            function ValidaCampos(email, celular) {
                var expresion_regular_telefono = /^\d{9}$/; // 9 cifras numéricas.
                var expresion_regular_email = "/^([\da-z_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/"; // correo + @ + dominio
                // Usaremos el método "test" de las expresiones regulares:
                if (expresion_regular_email.test(email)==true){
                    if(expresion_regular_telefono.test(celular)==true) {
                        alert('Gracias por rellenar nuestro formulario correctamente.');
                        return true; // sale de la función y SÍ envía el formulario
                    }
                    else {
                        alert('El numero de celular no es válido.');
                        return false; // sale de la función y NO envía el formulario
                    }
                }
                else {
                    alert("La dirección de email es Incorrecta.");
                    return false; // sale de la función y NO envía el formulario
                }
            } 
        </script>

        <!-- Esto ira al medio de la ventana de forma vertical y horizontal -->
        <div class="container"> 
            <div class="flotador" style="height: 97vh; margin: 5px auto;">
                <div class="col-12">
                    <div class="row m-1">
                        <div class="col-md-12">
                            <h2 class="titu" style="font-weight: bold; letter-spacing: -1px;;"> INGRESOS PASIVOS CASI SIN ESFUERZO </h2>
                            <h4 class="" style="font-weight: bold; font-size: 25px; letter-spacing: -1px;"> (DECIDE: CÓMO Y DESDE CUANDO) </h4>
                        </div>
                    </div>
                    <form action="" method="POST" onsubmit="return ValidaCampos(this)" class="row" name="registro" >
                        <div class="row" style="margin: 0px; padding: 3px; background-color: crimson;">
                            <div class="col-md-2"> 

                            </div>
                            <div class="col-md-5">
                                <input type="radio" class="" name="tema" id="afiliado" value="AFILIADO" required>
                                <label style="color: #fff; font-size: 25px; margin-bottom: -10px;" for="afiliado" class="form-label"> Ser AFILIADO </label> <br>
                                <label style="color: #ccc;" for="afiliado" class="form-label"> (Vender cursos digitales) </label> <br> 
                            </div>
                            <div class="col-md-5">
                                <input type="radio" class="" name="tema" id="productor" value="PRODUCTOR" required>
                                <label style="color:  #fff; font-size: 25px; margin-bottom: -10px;" for="productor" class="form-label"> Ser PRODUCTOR </label> <br>
                                <label style="color: #ccc;" for="productor" class="form-label"> (hacer cursos digitales) </label> <br>
                            </div>
                        </div>
                        <hr>
                        <div class="row m-1">
                            <div class="col-md-4">
                                <label for="celular" class="form-label"> Celular: </label>
                                <input type="text" class="form-control" size="9" maxlength="9" name="celular" placeholder="Si quieres ganar dinero..." required>
                            </div>
                            <div class="col-md-2">
        
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label"> Email: </label>
                                <input type="text" class="form-control" name="email" placeholder="Correo electronico + usado...">
                            </div>
                        </div>

                        <div class="row m-2">
                            <div class="col-md-4">
                                <label for="nombres" class="form-label"> Nombres: </label>
                                <input type="text" class="form-control" name="nombres" placeholder="Escriba aqui un nombre..." required>
                            </div>
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-4">
                                <label for="fecha" class="form-label"> Fecha: </label>
                                <input class="form-control" type="date" name="fecha_cita" id="fecha_cita">
                            </div>
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-2">
                                <label for="hora" class="form-label"> Hora: </label>
                                <input class="form-control" type="time" name="hora_cita" id="hora_cita">
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-md-10">
                                <label for="nota" class="form-label"> Ingrese un comentario: (Obligatorio) </label>
                                <textarea class="form-control" name="nota" cols="30" rows="6" required
                                 placeholder="Usa este espacio para PREGUNTAR e indicar el medio para RESPONDERTE:&#10;1.-Conversación por WhatsApp&#10;2.-Reunión por Zoom&#10;3.-Por Email (sí aún lo lees)&#10; &#10;ADVERTENCIA: No hay forma facil de ganar dinero, solo formas inteligentes de hacerlo!"></textarea>
                            </div>
                            <div class="col-md-2">
                                <input style="margin-top: 90px; margin-right: 20px;" class="btn btn-outline-primary btn f-right" type="submit" value="Enviar" onClick="ValidaCampos(email.value, celular.value);">
                            </div>
                        </div>
                    </form> 
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="message alert-success"> 
                                            <script>
                                                alert('Gracias por rellenar nuestro formulario correctamente.');
                                            </script>
                                        </div>
                                    {% endfor%}
                                {% endif %}
                            {% endwith %}
                         
                </div>
            </div>
            <!-- Fin del contenido central-->
        </div>

        <script>
            /* Funcion JS para cargar la fecha actual en los INPUT TIME */
            $(document).ready(function() {
                var now = new Date();
                var day = ("0" + now.getDate()).slice(-2);
                var month = ("0" + (now.getMonth() + 1)).slice(-2);
                var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
                $("#fecha_cita").val(today);

                var tim = new Date();
                var min = ("0" + (tim.getMinutes())).slice(-2);
                var hou = ("0" + (tim.getHours() + 1)).slice(-2);
                var ha = hou +":"+min;
                $("#hora_cita").val(ha);
                });
        </script>

{% endblock %}