{% extends 'layout.html' %}

{% block title %}
    Reunión

    {{super() }}
{% endblock %}

{% block content %}
        <script>
            function ValidaCampos(email, celular) {
                var expresion_regular_telefono = /^\d{9}$/; // 9 cifras numéricas.
                var expresion_regular_email = "/^([\da-z_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/"; // correo + @ + dominio
                // Usaremos el método "test" de las expresiones regulares:
                if (expresion_regular_email.test(email)==true){
                    if(expresion_regular_telefono.test(celular)==true) {
                        alert('Gracias por rellenar nuestro formulario correctamente.');
                        return true; // sale de la función y SÍ envía el formulario
                    }
                    else {
                        alert('El numero de celular no es válido.');
                        return false; // sale de la función y NO envía el formulario
                    }
                }
                else {
                    alert("La dirección de email es Incorrecta.");
                    return false; // sale de la función y NO envía el formulario
                }
            } 
        </script>

        <!-- Esto ira al medio de la ventana de forma vertical y horizontal -->
        <div class="container"> 
            <div class="flotador">
                <div class="col-12">
                    <div class="row m-1">
                        <h2 class="titu"> Programa tú Reunión </h2>
                        <hr>
                    </div>
                    <form action="" method="POST" onsubmit="return ValidaCampos(this)" class="row g-3" name="registro" >
                        <div class="col-md-4">
                            <label for="nombres" class="form-label"> Nombres: </label>
                            <input type="text" class="form-control" name="nombres" placeholder="Escriba aquí sus nombres" required>
                        </div>
                        <div class="col-md-8">
                          <label for="apellidos" class="form-label"> Apellidos: </label>
                          <input type="text" class="form-control" name="apellidos" placeholder="Escriba aquí sus apellidos">
                        </div>

                        <div class="col-md-8">
                            <label for="email" class="form-label"> Email: </label>
                            <input type="text" class="form-control" name="email" placeholder="Escriba aquí su correo electronico" required>
                        </div>
                        <div class="col-md-4">
                          <label for="celular" class="form-label"> Celular: </label>
                          <input type="text" class="form-control" size="9" maxlength="9" name="celular" placeholder="Escriba aquí su número">
                        </div>

                        <div class="col-md-6">
                          <label for="categoria" class="form-label"> Tema: </label>
                          <select class="form-select" name="categoria" id="">
                              <option selected> Seleccione... </option>
                              <option value="AFILIADO"> Ser AFILIADO (Vender cursos digitales) </option>
                              <option value="PRODUCTOR"> Ser PRODUCTOR (hacer cursos digitales) </option>
                          </select>
                        </div>
                        <div class="col-md-4">
                            <label for="fecha" class="form-label"> Fecha: </label>
                            <input class="form-control" type="date" name="fecha_cita" id="fecha_cita">
                        </div>
                        <div class="col-md-2">
                            <label for="hora" class="form-label"> Hora: </label>
                            <input class="form-control" type="time" name="hora_cita" id="hora_cita">
                        </div>

                        <div class="col-md-12">
                            <label for="nota" class="form-label"> Ingrese un comentario: (Opcional) </label>
                            <!-- <input class="form-control" type="textarea" name="nota" placeholder="Indica el medio de contacto que prefieras: Conversar por Whatsapp, chatea por Telegram, Email, Veamonos por Zoom..."> -->
                            <textarea class="form-control" name="nota" cols="30" rows="2" placeholder="Indica el medio de contacto que prefieras: Conversar por Whatsapp, chatea por Telegram, Email, Veamonos por Zoom..."></textarea>
                        </div>

                        <div class="col-9">
                          
                        </div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-outline-danger btn-sm f-right"> Cancelar </button>
                          </div>
                          <div class="col-2">
                                <input class="btn btn-outline-primary btn-sm f-right" type="submit" value="Guardar" onClick="ValidaCampos(email.value, celular.value);">
                                <!-- <button type="submit" class="btn btn-outline-primary btn-sm f-right"> Guardar </button> -->
                          </div>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="message alert-success"> 
                                            <h5> {{message}} </h5> 
                                        </div>
                                    {% endfor%}
                                {% endif %}
                            {% endwith %}
                      </form>
                </div>
                
            </div>
            <!-- Fin del contenido central-->
        </div>

        <script>
            /* Funcion JS para cargar la fecha actual en los INPUT TIME */
            $(document).ready(function() {
                var now = new Date();
                var day = ("0" + now.getDate()).slice(-2);
                var month = ("0" + (now.getMonth() + 1)).slice(-2);
                var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
                $("#fecha_cita").val(today);

                var tim = new Date();
                var min = ("0" + (tim.getMinutes())).slice(-2);
                var hou = ("0" + (tim.getHours() + 1)).slice(-2);
                var ha = hou +":"+min;
                $("#hora_cita").val(ha);
                });
        </script>

{% endblock %}